.container,
#guest_users_container {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.container {
    background-color: #e8e8e8;
}

.green {
    color: green;
}

.darkred {
    color: darkred;
}

.quote {
    text-align: justify;
    max-width: 400px;
    margin-bottom: 20px;
}

.radio-question {
    font-size: 1.2em;
}

.radio-answer {
    display: inline-flex;
    float: left;
}

.radio-answer label {
  text-align: left;
}

.clear {
    clear: both;
}

.profile-right {
    right: 12%;
}

#top_scores {
    padding-top: 60px;
}

#top_scores h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

#top_scores h2 {
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
}

#top_scores_table {
    margin: 20px auto 30px auto;
}

#top_scores_table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#top_scores_table, th, td {
    padding: 0 10px;
}

#top_scores_table .th-unaswered-questions {
    width: 200px;
}

#internal_links {
    margin: 30px auto 30px auto;
    text-align: center;
    color: darkblue;
}